body {
    font-size: 30px;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    background-color: rgb(247, 142, 142);
}

form {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    background-color: white;
}

.current {
    font-size: 20px;
    color: red;
}